*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   align-items: center;

}
.banner{
    text-align: center;
}
.banner img{
    width: 500px;
}
.registration_area{
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    /* text-align: center; */
}
.personal_info{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    text-align: center; */


}

